.button {
    padding: var(--padding-s) var(--padding-l);
    font-family: var(--font-title);
    font-size: var(--font-size-m);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 0 1px var(--light-title);
}

.default {
    color: var(--light-title);
    background-color: var(--primary-pink);
}

.icon {
    background: none;
    font-size: var(--font-size-m);
    border: none;
    padding: var(--padding-xxs);
    color: var(--dark-background);
}