* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;

    ul {
        list-style: none;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 48px;
    padding: 8px 60px;
    flex-wrap: wrap;

    .menu-wrapper {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 32px;

            li {
                font-size: 18px;

                a {
                    color: #141416;
                    text-decoration: none;
                }

                a:hover {
                    color: #1E71E7;
                }
            }
        }


        .menu-direito {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
    margin-top: 60px;

    h1 {
        font-size: 36px;
        color: #141416;
        text-shadow: 4px 6px 16px rgba(0, 0, 0, 0.2);
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 1280px;
        justify-content: center;
        margin: 24px 0;

        .card {
            background-color: #ffffff;
            box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
            transition: transform 0.5s ease;
            text-decoration: none;
            text-align: center;

            img {
                max-width: 480px;

            }

            h2 {
                margin: 16px 0;
                color: #141416;
            }
        }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 16px 24px -2px rgba(0, 0, 0, 0.5);
        }
    }
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 16px 12px 8px;
    color: #111;
}

.card p {
    font-size: 0.95rem;
    color: #555;
    margin: 0 12px 16px;
    line-height: 1.4;
}

.banner {
    background-image: url("../../assets/bannerHome.png");
    background-size: cover;
    background-position: center;
    height: 634px;
    display: flex;
    align-items: flex-end;
    padding: 40px;
}

.conteudo-banner {
    padding: 40px;
    border-radius: 12px;
    max-width: 480px;
}

.conteudo-banner p {
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
}

.btn-saiba-mais {
    display: inline-block;
    padding: 12px 16px;
    background-color: #F24194;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    
}

.btn-saiba-mais:hover {
    background-color: rgba(242, 65, 148, 0.8);
}