:root {
  --primary-pink: #F24194;
  --secondary-blue: #1E71E7;
  --dark-background: #0D1A2F;
  --light-background: #F2ECF3;
  --dark-title: #21242D;
  --light-title: #FFFFFF;

  --box-shadow-card: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
  --transition-card: transform 0.5s ease;

  --font-text: 'Inter', sans-serif;
  --font-title: 'Poppins', sans-serif;

  --font-size-xxs: 0.75rem;
  --font-size-xs: 1rem;
  --font-size-s: 1.125rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.25rem;
  --font-size-xxxl: 2.5rem;

  --padding-xxs: 0.5rem;
  --padding-xs: 0.75rem;
  --padding-s: 1rem;
  --padding-m: 1.5rem;
  --padding-l: 2rem;
  --padding-xl: 2.5rem;
  --padding-xxl: 3rem;

  --margin-xxs: 0.5rem;
  --margin-xs: 1rem;
  --margin-s: 1.25rem;
  --margin-m: 1.5rem;
  --margin-l: 2rem;
  --margin-xl: 2.5rem;
  --margin-xxl: 3rem;

  --gap-xs: 0.5rem;
  --gap-s: 1rem;
  --gap-m: 1.5rem;
  --gap-l: 2rem;
  --gap-xl: 2.5rem;
  --gap-xxl: 3rem;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-text);
  font-size: var(--font-size-m);
}